.player-card{
    display: inline-block;
    border: 1px solid black;
    text-align: center;
    width: 115px;
}
.player-photo{
    width: 100px;
}
.form-control{
    width: 40%;
}
.player-roster{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    float: left;
    width: 49%;
    height: 80%;
    overflow-y: scroll;
}
.my-player-roster{
    float: right;
    width: 49%;
    height: 80%;
    overflow-y: scroll;
}